<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navi</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<div class="main">

    <div class="cabecalho">
        <h1>Bem-vindo ao Navi!</h1>
        <a href="./chat">Limpar Chat</a>
    </div>


    <div class="chat" >
        <p class="pergunta" th:if="${perguntaRealizada}" th:text="${perguntaRealizada}">Aqui ficará a pergunta?</p>
        <p th:if="${chatResponse}" th:text="${chatResponse.reply}" class="resposta">Aqui ficará a resposta.</p>
    </div>

    <div id="prompt">
        <form th:action="@{/ask}" th:object="${chatRequest}" method="post">
            <input type="text" th:field="*{prompt}" placeholder="Olá bom dia como posso lhe ajudar?"/>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

</body>
</html>