<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navi</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<div class="main">

    <div class="cabecalho">
        <h1>Bem-vindo ao Navi!</h1>
        <a href="./chat">Limpar Chat</a>
    </div>


    <div class="chat" >
        <p th:each="msg : ${chatMessage}" th:class="${msg.classCss}" th:if="${chatMessage}" th:text="${msg.reply}">Aqui ficará a pergunta?</p>
    </div>

    <div id="prompt">
        <form th:action="@{/ask}" th:object="${chatRequest}" method="post">
            <input type="text" th:field="*{prompt}" placeholder="Olá bom dia como posso lhe ajudar?"/>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

<script>
    window.onload = () => {
      const chatBox = document.querySelector('.chat');
      chatBox.scrollTop = chatBox.scrollHeight;
    };
</script>

</body>
</html>